mixin bmTextField(args={})
    input.bm-textfield(id=args.id name=args.name class=args.class required=args.required placeholder=args.text type=args.type disabled=args.disabled readonly=args.readonly)
